---
import Header from "../components/Header.astro";
import Experience from "../components/Experience.astro";
import Sidebar from "../components/Sidebar.astro";
const experiences = [
  {
    title: "Software Engineering Intern",
    company: "Owl Cyber Defense",
    desc: [
      "Developed a VS Code extension that simplified ways to create, view, execute, and troubleshoot component tests; Adopted by VS Code users on the team and achieved a 100% satisfaction rate",
      "Improved robustness of CI/CD pipeline by rewriting critical Go test utility tools in Rust",
      "Improved developer experience by enhancing the Pytest component test runner with automated metadata generation, targeted test execution, and nested test case path support",
      "Expanded the XML data filter component test suite by over 20x with 70 new test cases",
    ],
    tech: ["Python", "Pytest", "Typescript", "Podman", "Rust"],
  },
  {
    title: "Software Developer Intern",
    company: "Sandia National Laboratories",
    desc: [
      "Developed modular Next.js components to visualize reference connections, reducing average search time",
      "Implemented condensed/expanded chat responses, offering users control over detail density",
      "Designed 5+ wireframes detailing layouts made for more intuitive navigation and content display",
      "Boosted test coverage to over 80% with Jest, ensuring reliability and minimizing bugs through unit testing",
    ],
    tech: ["NextJS", "Tailwind CSS"],
  },
  {
    title: "Research Intern",
    company: "North Carolina State Univeristy",
    desc: [
      "Designed and implemented a plant disease detection web app, React frontend for data submission of plant photos and object detection and an Express backend server to process image data, for a proof of concept",
      "Added user authentication and image storage features using MongoDB",
    ],
    tech: ["MongoDB", "ExpressJS", "ReactJS", "NodeJS"],
  },
];
---

<!doctype html>
<html>
  <Header title="Work Experience | Kevin Lin" />
  <body>
    <div class="content">
      <Sidebar selectedItem="work-experience" />
      <nav class="main">
        <div class="container">
          <div class="back-nav-container">
            <a href="/" class="back-nav-button w-inline-block"
              ><img
                src="/assets/icons/back.svg"
                loading="lazy"
                alt=""
                class="back-nav-img"
              />
              <div>Back</div></a
            >
          </div>
          <div class="content-container">
            <h1>Work Experience</h1>
            <section class="items-container">
              <div class="resouce-items">
                {
                  experiences.map((experience) => (
                    <Experience
                      company={experience.company}
                      title={experience.title}
                      desc={experience.desc}
                      tech={experience.tech}
                    />
                  ))
                }
              </div>
            </section>
          </div>
        </div>
      </nav>
    </div>

    <!--[if lte IE 9]><script src="//cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif]-->
  </body>
</html>
